<div class="container text-center">
  <h2>Hello!<br>My name is Kacper Mekarski,<br>I have creative ideas and build websites.</h2>
  <%= link_to "View my work", portfolio_path, class: "btn btn-default" %>
</div>