<div class="row">
  <div class="thumbnail">
    <div class="container col-md-6">
      <% @portfolio.each do |p| %>
        <a href="<%= p.link %>">
          <%= image_tag p.image %>
          <div class="caption">
            <%= p.title %><br>
            <%= p.description %><br>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>