<div class="container row">
  <img class="img-responsive col-md-6" src="https://i.imgur.com/khW9ELv.jpg" alt="Me">
  <h3 class="col-md-6">I'm fresh-new web developer.<br>My journey started in May 2018.</h3>
</div>

<div class="container row">
  <div class="col-md-4">
    <h3>Languages I speak</h3>
    <ul>
      <li>Ruby</li>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>Git</li>
      <li>SQL</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Dev Tools I use</h3>
    <ul>
      <li>Ruby On Rails</li>
      <li>Bootstrap</li>
      <li>Github</li>
      <li>Gitlab</li>
      <li>Terminal</li>
    </ul>
  </div>
</div>