<div class="container text-center">
  <h1><strong>Contact me</strong></h1>
  <a href="#"><i class="far fa-envelope glyphicon_contact"></i></a>
  <a href="https://github.com/K4cpersky"><i class="fab fa-github glyphicon_contact"></i></a>
  <a href="https://www.linkedin.com/in/kacper-m%C4%99karski-800a8a142/"><i class="fab fa-linkedin glyphicon_contact"></i></a>
</div>